---
layout: minimal
---

{% include base_path %}

<img class="avatar" src="{{ base_path }}/images/{{ site.author.avatar }}" alt="{{ site.author.name }}">

<h1>{{ site.author.name }}</h1>
<p class="affil">
  First-year Master's Student, {{ site.author.employer }}
</p>
<p class="header-links">
  <a href="mailto:{{ site.author.email }}">{{ site.author.email }}</a>
  {% if site.author.googlescholar %} &middot; <a href="{{ site.author.googlescholar }}">Google Scholar</a>{% endif %}
</p>

{{ content }}
